/*Styling the header*/
.header{
text-align: center;
font-size: 50px;
color: black;
background-color:transparent;
float: left;
}
sub{
  font-size: 20px ;
}

/*Styling the body*/
body { 
  background-image:url(b3.jpeg);
  font-family: Helvetica, sans-serif;
  padding: 5%;
  
}
   
/*Styling headings*/
h1{
  font-size: 100px;
  color:rgb(236, 235, 235);

 
}

h2{
  color: aliceblue;
  clear: both;
  
}
h3{
  color: red;
  text-align: center;
  background-color:red;
  font-size: larger;
  
}
h4{
  color: aliceblue;
}


/*Styling paragraphs*/
p{font-size: large;
background-color: rgb(241, 232, 214);
font-weight: 600;
}

/*Styling columns for band members*/
div.container1{
  width: 300px;
  height: 300px;
  padding: 2%;
  
}
div.container2{
  width: 300px;
  height: 300px;
  padding: 2%;
  
}
div.container3{
  width: 300px;
  height: 300px;
  padding: 2%;

}
div.container4{
  width: 300px;
  height: 300px;
  padding: 2%;

}

main{
  display:flex;
  align-items: left;
  flex-direction: row;
}

/*Styling band images under why i love sautisol*/
.box{
  float: right;
  padding: 1%;
}

/*Styling the slideshow using css animation*/
#slideshow {
  image-orientation: center;
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-holder {
  width: 3640px;
  animation: slide 13s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  background-image:url(images/BABYWENDY.png);
  height: 510px;
  width: 728px;
}

.slide:nth-child(2) {
  background-image: url(images/MMHAWARD.jpg);
  height: 510px;
  width: 728px;
}

.slide:nth-child(3) {
 background-image: url(images/MMH.png);
 height: 510px;
  width: 728px;
}
.slide:nth-child(4) {
  background-image: url(images/TEAM.png);
  height: 510px;
  width: 728px;
}
.slide:nth-child(5) {
  background-image: url(images/SOLO1.png);
  height: 510px;
  width: 728px;

}

.slide-title{
  color: #000;
 image-orientation: center;
}

@keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

/*Styling background for song links*/
ol.list{
  background-color: rgb(241, 232, 214);
}

/*Styling background for instagram links*/
ol.links{
  background-color:rgb(241, 232, 214);
}